*{margin: 0; padding: 0;}
body
{
	background: url(../../../images/loja_bg.jpg) top left repeat;
}

a#logout
{
	text-decoration: none;
	margin: 3px;
	float: left;
	padding: 3px 8px; background: #FF8080;
	font: 15px Tahoma, Geneva, sans-serif;
	color: #fff;
	border: 1px solid #000;
	width: 90%;
	text-align: center;
}

a#logout:hover
{
	background: #fff;
	color: #000;
}

.box
{
	width: 100%;
	padding: 5px;
	margin: 10px auto;
	float: right;
	height: 1300px;
}

.header
{
	float: left;
	width: 83%;
	border: 1px solid #000;
	height: 200px;
	background: #fff;
	margin-left: 17%;
}

.header .logo
{
	float: left;
	width: 40%;
	height: 180px;
	margin-left: 2%;
	margin-top: 10px;
}

.header span
{
	font-size: 50px;
	margin-left: 18%;
	text-align: center;
}

.sidebar
{
	float: left;
	width: 17%;
	background: #000;
	color: #fff;
	font: 16px Tahoma, Geneva, sans-serif;
	font-weight: bold;
	
}

.sidebar p
{
	float: left;
	margin: 3px;
	font: 16px Tahoma, Geneva, sans-serif;
	color: #000;
	width: 100%;
	text-align: center;
	margin-top: 200px;
}

.sidebar ul
{
	list-style: none;
	margin: 5px;
}

.sidebar ul li
{
	display: block;
	float: left;
	width: 97%;
	padding: 5px;
	background: #000;
	color: #fff;
}

.sidebar ul li.title
{
	background: #000;
	color: #fff;
	font-weight: bold;
}

.sidebar ul li ul
{
	margin-left: -5px;
	margin-top: 4px;
	padding-top: 2px;
	border-top:  1px dotted #333;
	width: 100%;
}

.sidebar ul li ul li:hover
{
	background: #fff;
	color: #000;
}

.sidebar ul li ul li
{
	border-bottom: 1px solid #999;
	height: 20px;
}

.sidebar ul li ul li:last-child{border-bottom: 0;}

.sidebar ul li a
{
	text-decoration: none;
	display: block;
	font: 16px Tahoma, Geneva, sans-serif;
	color: #333;
}


.sidebar h1
{
	float: left;
	padding: 5px;
	font: 16px Tahoma, Geneva, sans-serif;
	text-transform: uppercase;
	font-weight: bold;
	text-shadow: #000 0 1px 0;
	color: #fff;
	margin: 4px;
	width: 100%;
	text-align: center;
	margin-top: 200px;
	margin-bottom: -200px;
}

.conteudo-painel
{
	float: left;
	width:76%;
	margin-left: 5px;
	margin-top: 3px;
	padding: 5px;
}

.content_painel h1
{
	text-align: center;
	margin-top: 10px;
}

.conteudo-painel #grafico
{
	width: 93%;
	padding: 5px;
	margin-left: 5%;
	border: 1px solid #000;
}

.conteudo-painel .title-ult-vendas
{
	width: 94%;
	height: 40px;
	background: #fff;
	border: 1px solid#000;
	margin-left: 5%;
	margin-top: 10px;
	background: blue;
	color: #fff;
	padding: 5px;
}

.conteudo-painel .title-ult-vendas h1
{
	font: 20px Tahoma, Geneva, sans-serif;
	font-weight: bold;
	text-align: center;
}


.conteudo-painel table
{
	width: 95%;
	margin-left: 5%;
	margin-top: 10px;
}

.conteudo-painel table.tickets
{
	width: 60%;
	text-align: center;

}

table.list thead
{
	font: 17px Tahoma, Geneva, sans-serif;
	font-weight: normal;
}

table.list td
{
	text-align: center;
}

table.list2
{
	margin-top: 20px;
	width: 100%;
	margin-left: -8px;
}

table.list2 td
{
	text-align: center;
}

table.list thead tr th{padding: 5px 0;}
table.list tbody
{
	font: 16px Tahoma, Geneva, sans-serif;
	color: #666;
}

table.list tbody tr td{padding: 5px 3px;}

table.list tbody tr:hover{background: #f5f5f5};
table.tickets tbody tr:hover{background: #f5f5f5};

div#last-tickets
{
	float: left;
	width: 60%;
	height: 50px;
	border: 1px solid#000;
	background: blue;
	margin-top: 15px;
	color: #fff;
	font: 10px Tahoma, Geneva, sans-serif;
	margin-top: 10px;
}

div#outras-estatisticas
{
	float: right;
	width: 25%;
	height: 50px;
	border: 1px solid#000;
	background: blue;
	margin-top: 15px;
	color: #fff;
	font: 10px Tahoma, Geneva, sans-serif;
}

#formularios
{
	float: left;
	padding: 5px;
	background: #f4f4f4;
	width: 100%;
	font: 16px Tahoma, Geneva, sans-serif;
}

